<div id="<%= dom_id playlist %>">
  <p>
    <strong>Name:</strong>
    <%= playlist.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= playlist.user_id %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= playlist.video_id %>
  </p>

</div>
